
<div class="jumbotron background">
  <div class="container homepage_text_box">
    <h2>Where noobs become pros</h2>
    <p>Don't be left behind when the playoffs come around. Search and save your favorite hockey and basketball snippets.</p>
    <a class="btn custom_button" href="/users/new_user">Join today!</a>
  </div>
</div>
