<div class="navbar navbar-default titlebar">
  <div class="container">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-extra">
    </button>
    <a id="website_logo" href="/">Sports N00bs</a>
    <% if @user %>
        <div class="navbar-form navbar-right collapse navbar-collapse navbar-extra">
          <a class="user" href="/users/home">Welcome
          <%= @user.email %>!</a>
          <a class="btn btn-default" href="/users/logout">Logout</a></div>
    <% else %>
        <form class="navbar-form navbar-right collapse navbar-collapse navbar-extra" action="/users/login" method="POST">
          <div class="form-group">
              <input type="text" class="form-control" name="email" placeholder="Email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-default">Sign In</button> 
          <a class="btn custom_button" href="/users/new_user">Sign Up</a>
        </form>
    <% end %>
  </div>
</div>
  
<nav class="navbar navbar-default">
  <div class="container">
    <div class="collapse navbar-collapse navbar-extra">
      <ul class="nav navbar-nav">
        <li><a href="/posts/hockey">Hockey</a></li>
        <li><a href="/posts/basketball">Basketball</a></li> 
      </ul>
    </div>
  </div>
</nav>